#button {
	border-width: 0px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #007ee5;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#button:hover {
	cursor: pointer;
	opacity: 0.8;
}

#button_text {
	font-size: 0.8rem;
	color: white;
}