#faucet {
	height: 70%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#faucet p {
	font-family: var(--custom-font);
}

#faucet_info_container {
	height: 20%;
	width: 80%;
}

#faucet_info {
	margin-top: 0.3rem;
	font-size: 1rem;
	text-align: center;
}

#faucet_container {
	height: 80%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#faucet_container p {
	font-size: 1rem;
	font-family: var(--custom-font);
}

#faucet_sub_container {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#faucet_balance_container {
	display: flex;
	align-items: center;
}

#faucet_balance_container span {
	font-size: 1rem;
	padding-right: 0.5rem;
}

#faucet_balance {
	color: #007ee5;
}

#faucet_account_address {
	font-size: 1rem;
}

#faucet_button_container {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#faucet_button_container p {
	font-size: 1rem;
}

#faucet_image {
	height: 100px;
	width: 100px;
}