#faucet {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#faucet p {
	font-family: var(--custom-font);
}

#faucet_container {
	height: 60%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/*background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

#faucet_container p {
	font-size: 30px;
	font-family: var(--custom-font);
}

#faucet_info_container {
	width: 80%;
}

#faucet_info {
	margin-top: 5px;
	font-size: 24px;
	text-align: center;
}

#faucet_header {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #007ee5;
}

#faucet_header p {
	padding-top: 25px;
	font-size: 26px;
	color: white;
}

#faucet_sub_container {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#faucet_sub_container_top {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#faucet_sub_container_top p {
	font-size: 22px;
}

#faucet_row {
	height: 20%;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
}

#faucet_balance_container {
	display: flex;
	align-items: center;
}

#faucet_balance_container p {
	font-size: 30px;
	padding-right: 20px;
}

#faucet_balance {
	color: #007ee5;
}

#faucet_account_address {
	font-size: 20px;
}

#faucet_button_container {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#faucet_button_container p {
	font-size: 28px;
}

#faucet_image {
	height: 100px;
	width: 100px;
}