html, body {
	font-family: var(--custom-font);
}

#main_container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
	z-index: 1;
}

#main_container_left {
	height: 100%;
	min-width: 15%;
}

#main_container_right {
	height: 100%;
	width: 85%;
	background-color: #F7F9FB;
}

#global_header_container {
	height: 3.5rem;
	width: 90%;
	display: flex;
	align-items: flex-end;
	margin-left: 25px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #C7C7CD;
}

#global_header_text {
	font-size: 1.5rem;
}

#sub_container {
	height: calc(100% - 3.5rem);
	width: 100%;
}