#main_container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
	z-index: 1000;
}

#main_container_left {
	height: 100%;
	min-width: 15%;
}

#main_container_right {
	height: 100%;
	width: 85%;
	background-color: #F7F9FB;
}

#global_header_container {
	height: 80px;
	width: 90%;
	margin-left: 25px;
	padding-top: 25px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #C7C7CD;
}

#global_header_text {
	font-size: 36px;
	font-family: var(--custom-font);
}

#sub_container {
	height: calc(100% - 80px);
	width: 100%;
}

/*@media only screen and (max-width: 1200px) {
  html {
    display: none;
  }
}*/

@media only screen and (min-width: 720px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1140px) {
  html {
    font-size: 24px;
  }
}