#overview {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#overview p {
	font-family: var(--custom-font);
}

#overview_container {
	height: 50%;
	width: 80%;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#overview_header {
	height: 10%;
	width: 100%;
	padding-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #007ee5
}

#overview_header p {
	font-size: 20px;
	color: white;
}

#overview_sub_container {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#overview_sub_container div {
	display: flex;
	justify-content: space-between;
}

#overview_sub_container div p {
	font-size: 18px;
}

.overview_values {
	color: #007ee5;
}