#sidemenu {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--custom-color);
}

#logo_container {
	height: 3.5rem;
	width: 100%;
	background-color: #0A357C;
}

#logo {
	height: 50px;
	width: 50px;
	object-fit: contain;
}

#name {
	padding-left: 10px;
	font-size: 1.2rem;
	color: white;
}

#list {
	float: right;
	min-width: 90%;
	display: flex;
	flex-direction: column;
}

#list li {
	font-size: 0.8rem;
	color: white;
}

#list li:hover {
	cursor: pointer;
	background-color: #0A357C;
}

#list li * {
	text-decoration: none;
	color: white;
}

#list li div {
	padding: 5px;
}

.active_li div {
	background-color: #0A357C;
}

.list_menu {
	width: 100%;
	background-color: var(--custom-color);
	z-index: 2;
}

#toggle {
	background-color: var(--custom-color);
}