#sidemenu {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: var(--custom-color);
}

#logo_container {
	height: 70px;
	min-width: 100%;
	padding: 25px;
}

#logo {
	font-size: 38px;
	font-family: var(--custom-font);
	color: white;
}

#list {
	min-width: 90%;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
}

#list li {
	font-size: 20px;
	padding: 5px;
	font-family: var(--custom-font);
	color: white;
}

#list li:hover {
	cursor: pointer;
	background-color: #0A357C;
}

.active_li {
	background-color: #0A357C;
}