table {
	background-color: white;
}

table th {
	font-size: 1rem;
}

table tr:hover {
	cursor: pointer;
}

table td {
	font-size: 1rem;
	font-family: var(--custom-font);
}

#table_tag {
	font-size: 0.8rem;
}

.table_name_container {
	display: flex;
}

.table_name {
	margin-left: 1rem;
	font-weight: bold;
	color: #007ee5;
}

.table_icon {
	height: 30px;
	width: 30px;
}